.root {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.card_container {
  height: auto;
  width: 320px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.another_content {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 90%;
  top: 20%;
}

.another_content > .icon-wrapper {
  background-color: none;
  cursor: pointer;
}

.card_container:hover {
  opacity: 0.5;
}

.card_container:hover .another_content {
  opacity: 1;
}

.card_img {
  height: 40%;
  width: 100%;
}

.card_content {
  padding: 20px;
  text-align: center;
}

.text-content {
  margin-bottom: 1.5rem;
}

.card_content > button,
.button-wrapper > button {
  color: green;
  border: 1px solid green;
  background-color: #fff;
  padding: 7px 14px;
  cursor: pointer;
}

.body {
  display: none;
}

.searchbar {
  border: 1px solid #d0d5dd;
  padding: 7.5px 14px;
  outline: none;
  border-radius: 8px;
  width: 70%;
}

.not_found_img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
